<mat-form-field class="vital-full-width" appearance="legacy">
  <mat-label>Old Password</mat-label>
  <input matInput placeholder="Old Password" /> </mat-form-field
>&nbsp; &nbsp; 

<mat-form-field class="vital-full-width" appearance="legacy">
  <mat-label>New Password</mat-label>
  <input matInput placeholder="New Password" />
</mat-form-field>
&nbsp; &nbsp;

<mat-form-field class="vital-full-width" appearance="legacy">
  <mat-label> Confirm New Password</mat-label>
  <input matInput placeholder="Confirm New Password" />
</mat-form-field>

<mat-dialog-actions align="end">
  <button mat-flat-button type="submit" class="button-submit">
    Submit
  </button>
  <button mat-flat-button type="reset" class="button-reset">Cancel</button>
</mat-dialog-actions>
