
<h3>Change Password</h3>

<form style="margin-left:20vw;">

  <label class="inputLabel" for="oldpassword">Old Password: </label>
  &nbsp; &nbsp;&nbsp; &nbsp;
  <input type="password" id="oldpassword" name="oldpassword" required />
  <br>
  <br>
  <br>


  <label class="inputLabel" for="password">New Password: </label>&nbsp; &nbsp;&nbsp;
  <input type="password" id="password" name="password" required />
<br>
<br>
<br>
  <label class="inputLabel" for="confirmPassword">Confirm Password: </label>
  <input type="password" id="confirmPassword" name="confirmPassword" />
  <br>

<div class="buttonWrapper">
  <button
      style="margin-left: 10vw"
      mat-flat-button
      type="submit"
      class="button-submit"
    >
      Change Password
    </button>

<br>
</div>
</form>

