<div class="container">
  <div class="container">
    <mat-form-field appearance="legacy">
      <mat-label>Old Password</mat-label>
      <input matInput placeholder="Old Password" /> </mat-form-field
    >&nbsp; &nbsp; <br />
    <br />
    <mat-form-field appearance="legacy">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="New Password" />
    </mat-form-field>
    &nbsp; &nbsp;
    <br />
    <br />
    <mat-form-field appearance="legacy">
      <mat-label> Confirm New Password</mat-label>
      <input matInput placeholder="Confirm New Password" />
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        Submit
      </button>
    </mat-dialog-actions>
  </div>
</div>
