<mat-stepper
  class="mediacal-information-stepper"
  [orientation]="(stepperOrientation | async)!"
>
  <mat-step [stepControl]="firstFormGroup" label="Vital Signs">
    <form [formGroup]="firstFormGroup">
      <app-vital-signs></app-vital-signs>
      <div>
        <button mat-button matStepperNext class="next-button">

        <!-- </button> (Click)=SaveVitalDetails() -->
        >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Diagnosis Details">
    <form [formGroup]="secondFormGroup">
      <!-- <app-diagnosis-details></app-diagnosis-details> -->

      <div>
        <button mat-button matStepperPrevious class="back-button">Back</button>
        <button mat-button matStepperNext class="next-button" >

          <!-- (Click)=SaveDiagnosisDetails()> -->
        Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Procedure Details">
    <form [formGroup]="thirdFormGroup">
      <app-procedure-details></app-procedure-details>
      <div>
        <button mat-button matStepperPrevious class="back-button">Back</button>
        <button mat-button matStepperNext class="next-button" >
        
        <!-- (click)=SaveProcedureDetails()> -->
        Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Medication Details</ng-template>
    <app-medication-details></app-medication-details>
    <div>
      <button mat-button matStepperPrevious class="back-button">Back</button>
      <button mat-button class="next-button">
       <!-- (click)=SaveMedicationDetails() -->
       Save</button>
    </div>
  </mat-step>
</mat-stepper>
