.patient-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .patient-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  button {
    margin: 8px;
    color: #ffffff;
    background-color: #007bff;
  }
  
  .mat-button.mat-button-disabled.mat-button-disabled {
    color: #333333;
    background-color: #dddddd;
  }
  .move-down{
    margin-top: 16px;
  }
  .move-down-24px{
    margin-top: 24px;
  }