<form class="patient-form" [formGroup]="form" (ngSubmit)="savePatientDetails()">
  <table class="patient-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="title"
          id="title"
          id="firstName"
          value={{xTitle}}
        >
          <td><mat-radio-button value="Mr">Mr</mat-radio-button></td>
          <td><mat-radio-button value="Mrs">Mrs</mat-radio-button></td>
          <td><mat-radio-button value="Ms">Ms</mat-radio-button></td>
        </mat-radio-group>
      </td>
      <td>
        <mat-form-field class="patient-full-width">
          <mat-label>First name</mat-label>
          <input
            matInput
            formControlName="firstName"
            id="firstName"
            value={{xFirstName}}
          />

          <mat-error *ngIf="hasError('firstName', 'required')"
            >FirstName is required</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="patient-full-width">
          <mat-label>Last Name </mat-label>
          <input matInput formControlName="lastName" id="lastName"  value={{xLastName}} />

          <mat-error *ngIf="hasError('lastName', 'required')"
            >LastName is required</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="patient-full-width">
          <mat-label>DOB</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateOfBirth"
            id="dateOfBirth"
            value={{xDob}}
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="patient-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="gender"
          id="gender"
          value={{xGender}}
        >
          <td><mat-radio-button value="M">Male</mat-radio-button></td>
          <td><mat-radio-button value="F">Female</mat-radio-button></td>
          <td><mat-radio-button value="O">Other</mat-radio-button></td>
        </mat-radio-group>
      </td>
      <td>
        <mat-form-field class="patient-full-width">
          <mat-label>Race</mat-label>
          <input matInput placeholder="" formControlName="race" id="race"
          value={{xRace}} />
          <mat-error *ngIf="hasError('race', 'required')"
            >Race is required</mat-error
          >
        </mat-form-field>
      </td>
      <!-- <td>
        <mat-form-field class="patient-full-width">
          <mat-label>Ethinicity</mat-label>

          <input
            matInput
            placeholder="Ethinicity"
            formControlName="ethinicity"
            id="ethinicity"
            value={{xEthinicity}}
          />
          <mat-error *ngIf="hasError('ethinicity', 'required')"
            >Ethinicity is required</mat-error
          >
        </mat-form-field>
      </td>-->
      <td> 
        <mat-form-field class="patient-full-width">
          <mat-label>Languages Known</mat-label>

          <input
            matInput
            formControlName="languagesKnown"
            id="languagesKnown"
            value={{xLanguagesKnown}}
          />

          <mat-error *ngIf="hasError('languagesKnown', 'required')"
            >LanguagesKnown is required</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="patient-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="patient-full-width move-down">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            formControlName="emailId"
            id="emailId"
            placeholder="Ex. pat@example.com"
            value={{xEmailId}}
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="patient-full-width move-down">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+91 &nbsp;</span>
          <input
            type="tel"
            matInput
            placeholder="555-555-1234"
            formControlName="telePhoneNo"
            id="telePhoneNo"
            value={{xTelePhoneNo}}

          />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="hasError('telePhoneNo', 'required')"
            >TelePhoneNo is required</mat-error
          >
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="patient-full-width">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            placeholder="Ex. 100 Main St"
            formControlName="address"
            id="address"
            value={{xAddress}}
          >
          </textarea>
          <mat-error *ngIf="hasError('address', 'required')"
            >Address is required</mat-error
          >
        </mat-form-field>
      </td>
      <!-- <td>
        <mat-radio-group aria-label="Select an option" formControlName="allergies" id="allergies" class="move-down-24px" >

          <td><mat-radio-button value="true">Allergies</mat-radio-button></td>
          <td>
            <mat-radio-button value="false">NoAllergies</mat-radio-button>
          </td>
        </mat-radio-group>
      </td> -->
    </tr>
  </table>
  <br />
  <!-- <button mat-button>Save</button> -->
  <div>
    <button mat-flat-button type="submit" class="button-submit" (Click)=savePatientDetails() >Submit</button>
    <button mat-flat-button type="reset" class="button-reset">Cancel</button>
  </div>
</form>
