<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Patient Name</th>
      <th>Physicain Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Status</th>
      <th>Visit Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{ appointment.title }}</td>
      <td>{{ appointment.patientName }}</td>
      <td>{{ appointment.physicianName }}</td>
      <td>{{ appointment.startTime | date: "mediumDate" }}</td>
      <td>{{ appointment.startTime | date: "shortTime" }}</td>
      <td>
        <span
          *ngIf="appointment.status && appointment.status == 'Active'"
          style="color: green"
          >Approved</span
        >
        <span
          *ngIf="appointment.status && appointment.status == 'Declined'"
          style="color: red"
          >Declined</span
        >
        <span
          *ngIf="appointment.status && appointment.status == 'Pending'"
          style="color: #333333"
          >Pending</span
        >
        <span *ngIf="!appointment.status" style="color: black">Declined</span>
      </td>
      <td>
        <button value="showVisitDetails">
          <!-- (click)="VisitDetails(appointment.AppointmentId)" -->

          Go
        </button>
      </td>
    </tr>
  </tbody>
</table>
