<h2 class="welcome-msg">Welcome to CT General Hospitals</h2>    
     
          <h2 >Forgot Password?</h2>
          <form [formGroup]="form" class="validate-form ng-untouched ng-pristine ng-valid">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="ct@example.com" formControlName="email" autocomplete="off" required />
                  <mat-error *ngIf="form.invalid">{{
                    getErrorMessage()
                    }}</mat-error>

                  <mat-icon matSuffix aria-hidden="false" aria-label="Example face icon" style="float: right">face
                  </mat-icon>
                </mat-form-field>
                <p class="auth-signup-text">
                  <a  routerLink="/signin" class="Sign-Up-link">Sign in</a>
                </p>        
              </div>
            </div>
            <div class="container-auth-form-btn" style="text-align: center; margin-bottom: 10%;">

              <button class="mat-focus-indicator auth-form-btn mat-raised-button mat-button-base mat-primary"
                mat-raised-button (click)="onSubmit()" color="primary" [disabled]="form.invalid">
                Reset Password
              </button>
            </div>
          </form>
