<div>
  <img class="logo" src="../../../assets/images/logo.png" />

  <!-- Dashboard Button Ends -->

  <button
    *ngIf="user?.roleId == 1"
    mat-button
    class="menu-button"
    routerLink="/admin/dashboard"
    routerLinkActive="active-link"
  >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>

  <button
    *ngIf="user?.roleId == 2"
    mat-button
    class="menu-button"
    routerLink="/doctor/dashboard"
    routerLinkActive="active-link"
  >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>

  <button
    *ngIf="user?.roleId == 3"
    mat-button
    class="menu-button"
    routerLink="/nurse/dashboard"
    routerLinkActive="active-link"
  >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>

  <button
    *ngIf="user?.roleId == 4"
    mat-button
    class="menu-button"
    routerLink="/patient/dashboard"
    routerLinkActive="active-link"
  >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>

  <!-- Dashboard Button Ends -->

  <button
    *ngIf="user?.roleId == 1"
    mat-button
    class="menu-button"
    routerLink="/admin/employee-card"
    routerLinkActive="active-link"
  >
    <mat-icon>group_add</mat-icon>
    <span>Employee Detail</span>
  </button>

  <button
    *ngIf="user?.roleId == 1"
    mat-button
    class="menu-button"
    routerLink="/admin/patient-card"
    routerLinkActive="active-link"
  >
    <mat-icon>edit</mat-icon>
    <span>Edit Patients</span>
  </button>

  <button
    *ngIf="user?.roleId == 4"
    mat-button
    class="menu-button"
    routerLink="/patient/patient-demographics"
    routerLinkActive="active-link"
  >
    <mat-icon>personal_injury</mat-icon>
    <span>Patients Profile</span>
  </button>

  <button
    mat-button
    class="menu-button"
    routerLink="/patient-details"
    routerLinkActive="active-link"
  >
    <mat-icon>personal_injury</mat-icon>
    <span>Patients Details</span>
  </button>

  <button
    *ngIf="user?.roleId == 2"
    mat-button
    class="menu-button"
    routerLink="/doctor/patient-visit"
    routerLinkActive="active-link"
  >
    <mat-icon>personal_injury</mat-icon>
    <span>Patient Visit</span>
  </button>

  <button
    *ngIf="user?.roleId == 3"
    mat-button
    class="menu-button"
    routerLink="/nurse/patient-visit"
    routerLinkActive="active-link"
  >
    <mat-icon>personal_injury</mat-icon>
    <span>Patient Visit</span>
  </button>

  <button
    *ngIf="user?.roleId == 2"
    mat-button
    class="menu-button"
    routerLink="/doctor/appointment"
    routerLinkActive="active-link"
  >
    <mat-icon>access_time</mat-icon>
    <span>Appointments</span>
  </button>
  <button
  *ngIf="user?.roleId == 1"
  mat-button  
  class="menu-button"
  routerLinkActive="active-link"
  (click)="openMasterDialog()"
>
  <mat-icon>post_add</mat-icon>
  <span>Master Data</span>

</button>

  <button
    *ngIf="user?.roleId == 3"
    mat-button
    class="menu-button"
    routerLink="/nurse/appointment"
    routerLinkActive="active-link"
  >
    <mat-icon>access_time</mat-icon>
    <span>Appointments</span>
  </button>
  <button
    *ngIf="user?.roleId == 1"
    mat-button
    class="menu-button"
    routerLinkActive="active-link"
    (click)="openDialog()"
  >
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button
    *ngIf="user?.roleId == 4"
    mat-button
    class="menu-button"
    routerLink="/patient/appointment"
    routerLinkActive="active-link"
  >
    <mat-icon>access_time</mat-icon>
    <span>Appointments</span>
  </button>

  <button
    mat-button
    class="menu-button"
    routerLinkActive="active-link"
    (click)="onLogout()"
  >
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</div>
