<div>
  <img class="logo" src="../../../assets/images/logo.png" />

  <button
    mat-button
    class="menu-button"
    routerLink="/patient/dashboard"
    routerLinkActive="active-link"
  >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>
  <button
    *ngIf="user?.roleId == 1"
    mat-button
    class="menu-button"
    routerLink="/patient/employee-card"
    routerLinkActive="active-link"
  >
    <mat-icon>group_add</mat-icon>
    <span>Employee Detail</span>
  </button>
  <button
    *ngIf="user?.roleId == 1"
    mat-button
    class="menu-button"
    routerLink="/patient/patient-card"
    routerLinkActive="active-link"
  >
    <mat-icon>edit</mat-icon>
    <span>Edit Patients</span>
  </button>
  <button
    *ngIf="user?.roleId == 4"
    mat-button
    class="menu-button"
    routerLink="/patient/patient-demographics"
    routerLinkActive="active-link"
  >
    <mat-icon>personal_injury</mat-icon>
    <span>Patients</span>
  </button>
  <button
    *ngIf="user?.roleId == 3"
    mat-button
    class="menu-button"
    routerLink="/patient/patient-visit"
    routerLinkActive="active-link"
  >
    <mat-icon>personal_injury</mat-icon>
    <span>Patient Visit</span>
  </button>
  <button
    *ngIf="user?.roleId == 4"
    mat-button
    class="menu-button"
    routerLink="/patient/appointment"
    routerLinkActive="active-link"
  >
    <mat-icon>access_time</mat-icon>
    <span>Appointments</span>
  </button>

  <!-- <button
    mat-button
    class="menu-button"
    routerLink="/patient/settings"
    routerLinkActive="active-link"
  >
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button> -->

  <mat-accordion *ngIf="user?.roleId == 1">
    <mat-expansion-panel style="padding: 0%">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 14pt; text-align: left">
          <mat-icon>settings</mat-icon>
          Settings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="text-align: left">
        <button
          style="text-align: left"
          mat-button
          routerLinkActive="active-link"
          routerLink="/patient/my-account"
        >
          My Account
        </button>
        <button
          style="text-align: left"
          mat-button
          routerLinkActive="active-link"
          routerLink="/patient/change-password"
        >
          Change Password
        </button>

        <button
          style="text-align: left"
          mat-button
          routerLinkActive="active-link"
          routerLink="/patient/faqs"
        >
          FAQs
        </button>
        <button
          style="text-align: left"
          mat-button
          routerLinkActive="active-link"
          routerLink="/patient/terms-conditions"
        >
          TnCs
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button
    mat-button
    class="menu-button"
    routerLinkActive="active-link"
    (click)="onLogout()"
  >
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</div>
