<h3>Terms and Conditions</h3>

<h4>1. General</h4>

<p>The Platform is owned and operated by CT GH, a company duly incorporated under the provisions of the Companies Act, 2013.By accessing or browsing of the Platform and using the Services (as defined below) you indicate your agreement to all the terms and conditions in this Agreement. If you disagree with any part of the Terms and Conditions, then you may discontinue access or use of the Platform.
</p>
<h4>2. Data and Information policy</h4>
<p>
We respect your right to privacy in respect of any personal information provided to us for the purposes of availing our Services.
</p>
<h4>3. Applicable Legislation & Jurisdiction</h4>
<p>
The use of our APL Platform and the contract between you and APL shall be governed by the laws applicable in India, without regard to the conflict of law rules. Any dispute relating to the use of our Services will be only resolved exclusively in the Courts at Hyderabad, India but not in any other Court.
</p>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="button-reset">Cancel</button>
</mat-dialog-actions>
