h3 {
  font-weight: 900;
  text-align: left;
  font-size: 14px;
}
.button-reset {
  background-color: #ffad1f;
  margin: 0 1px 0;
}
h4 {
  font-weight: 500;
  text-align: justify;
  font-size: 14px;
}
p {
  font-weight: normal;
  text-align: justify;
  font-size: 14px;
}
