.top-menu-cards {
  display: flex;
  flex-direction: row;
}

.card-align {
  flex: auto;
  margin: 0 8px 0;
}
mat-icon {
  color: #ffb059;
}
span {
  font-weight: bold;
}

td {
  color: solid black;
  font-size: 20pt;
}
