<div class="top-menu-cards">
  <div class="card-align">
    <mat-card
      ><mat-icon>people_alt</mat-icon>
      &nbsp;&nbsp;
<span>10</span> &nbsp;&nbsp;
      <a
        href="https://www.google.com"
        style="font-weight: bold; font-size: 14px; color: #6c767d"
        >
        Employees</a
      ></mat-card
    >
  </div>
  <div class="card-align">
    <mat-card>

        <mat-icon>group_add</mat-icon>
        &nbsp;
        <span>20</span> &nbsp;&nbsp;
        <a
          href="https://www.google.com"
          style="font-weight: bold; font-size: 14px; color: #6c767d"
          >New Users</a
        >
      </mat-card>
  </div>
  <div class="card-align">
    <mat-card>
      <mat-icon>block</mat-icon>
      &nbsp;
      <span>04</span> &nbsp;&nbsp;
      <a
        href="https://www.google.com"
        style="font-weight: bold; font-size: 14px; color: #6c767d"
        >Inactive/Blocked</a
      ></mat-card
    >
  </div>
</div>
