<div class="top-menu-cards">
  <div class="card-align">
    <mat-card style="align-content: center">
      <table>
        <tr>
          <th rowspan="2"><button mat-icon-button color="white">
            <mat-icon>people_alt</mat-icon>
          </button></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <td>&nbsp;&nbsp;&nbsp;4</td>
        </tr>
        <tr>
          <td>
            <button mat-button>Employees</button>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
  <div class="card-align">
    <mat-card>
      <table>
        <tr>
          <th rowspan="2"><button mat-icon-button color="white">
            <mat-icon>group_add</mat-icon>
          </button></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <td>&nbsp;&nbsp;&nbsp;10</td>
        </tr>
        <tr>
          <td>
            <button mat-button>New Users</button>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
  <div class="card-align">
    <mat-card>
      <table>
        <tr>
          <th rowspan="2"><button mat-icon-button color="white">
            <mat-icon>block</mat-icon>
          </button></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <td>&nbsp;&nbsp;&nbsp;5</td>
        </tr>
        <tr>
          <td>
            <button mat-button>Inactive/Blocked</button>
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
