<div class="top-menu-cards">
  <div class="card-align">
    <mat-card style="align-content: center">
      <table>
        <tr>
          <th rowspan="2"><mat-icon>people_alt</mat-icon></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <td>4</td>
        </tr>
        <tr>
          <td>
            <a
              href=""
              style="font-weight: bold; font-size: 14px; color: #6c767d"
            >
              Employees</a
            >
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
  <div class="card-align">
    <mat-card>
      <table>
        <tr>
          <th rowspan="2"><mat-icon>group_add</mat-icon></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <td>10</td>
        </tr>
        <tr>
          <td>
            <a
              href=""
              style="font-weight: bold; font-size: 14px; color: #6c767d"
            >
              New Users</a
            >
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
  <div class="card-align">
    <mat-card>
      <table>
        <tr>
          <th rowspan="2"><mat-icon>block</mat-icon></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <th rowspan="2"></th>
          <td>10</td>
        </tr>
        <tr>
          <td>
            <a
              href=""
              style="font-weight: bold; font-size: 14px; color: #6c767d"
            >
              Inactive/Blocked</a
            >
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
