<mat-tab-group style="text-align: left">
  <mat-tab label="Add Diagnosis"
    ><br />
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" />
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="legacy">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" />
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <br />
    <mat-dialog-actions align="end">
      <button mat-flat-button type="submit" class="button-submit">
        Submit
      </button>
      <button mat-flat-button type="reset" class="button-reset">Cancel</button>
    </mat-dialog-actions>
  </mat-tab>
  <mat-tab label="Edit Diagnosis"
    ><br />
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" />
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="legacy">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" />
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <br />
    <mat-dialog-actions align="end">
      <button mat-flat-button type="submit" class="button-submit">
        Submit
      </button>
      <button mat-flat-button type="reset" class="button-reset">Cancel</button>
    </mat-dialog-actions>
  </mat-tab>
</mat-tab-group>
