
  <h3>FAQs</h3>

  <h4>
    1. What is an online doctor consultation or online medical consultation?
  </h4>
  <p>
    Ans: When you speak to a doctor about your health concerns through an
    audio/video/ chat, it is known as an online doctor consultation or online
    medical consultation. This is a good alternative for times when you cannot
    visit a doctor physically at the clinic or hospital.
  </p>
  <h4>2. Do you provide online doctor consultation for emergencies?</h4>
  <p>
    Ans: No. We do not recommend or provide online consultations for
    emergencies.
  </p>
  <h4>3. When should you consult a specialist doctor?</h4>
  <p>
    Ans: If your health concern is complex and your physician feels that it
    needs the attention of a specialized doctor, you will be referred to one.
  </p>
  <h4>4. Will my e-prescription be valid for offline pharmacies?</h4>
  <p>
    Ans: Yes. The e-prescription will be valid for offline pharmacies as well.
  </p>

