<form
  class="medication-form"
  [formGroup]="form"
  (ngSubmit)="saveMedicationDetails()"
>
  <!-- <mat-form-field class="medication-full-width">
    <mat-label>Drug Id</mat-label>
    <mat-select
      [formControl]="drugId"
      multiple
      formControlName="drugId"
      id="drugId"
    >
      <mat-select-trigger>
        {{ drugId.value ? drugId.value[0] : "" }}
        <span
          *ngIf="drugId.value?.length > 1"
          class="drugId-additional-selection"
        >
          (+{{ drugId.value.length - 1 }}
          {{ drugId.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let drugId of drugIdList" [value]="drugId">{{
        drugId
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="medication-full-width">
    <mat-label>Drug Generic Name</mat-label>
    <mat-select
      [formControl]="drugGenericName"
      multiple
      formControlName="drugGenericName"
      id="drugGenericName"
    >
      <mat-select-trigger>
        {{ drugGenericName.value ? drugGenericName.value[0] : "" }}
        <span
          *ngIf="drugGenericName.value?.length > 1"
          class="drugGenericName-additional-selection"
        >
          (+{{ drugGenericName.value.length - 1 }}
          {{ drugGenericName.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let drugGenericName of drugGenericNameList"
        [value]="drugGenericName"
        >{{ drugGenericName }}</mat-option
      >
    </mat-select>
  </mat-form-field> -->

  <mat-form-field class="medication-full-width">
    <mat-label>Drug Name</mat-label>
    <mat-select
      [formControl]="drugName"
      multiple
      formControlName="drugName"
      id="drugName"
    >
      <mat-select-trigger>
        {{ drugName.value ? drugGenericName.value[0] : "" }}
        <span
          *ngIf="drugName.value?.length > 1"
          class="drugName-additional-selection"
        >
          (+{{ drugName.value.length - 1 }}
          {{ drugName.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let drugName of drugNameList" [value]="drugName">{{
        drugName
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field class="medication-full-width">
    <mat-label>Drug Brand Name</mat-label>
    <mat-select
      [formControl]="drugBrandName"
      multiple
      formControlName="drugBrandName"
      id="drugBrandName"
    >
      <mat-select-trigger>
        {{ drugBrandName.value ? drugBrandName.value[0] : "" }}
        <span
          *ngIf="drugBrandName.value?.length > 1"
          class="drugName-additional-selection"
        >
          (+{{ drugBrandName.value.length - 1 }}
          {{ drugBrandName.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let drugBrandName of drugBrandNameList"
        [value]="drugBrandName"
        >{{ drugBrandName }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="medication-full-width">
    <mat-label>Drug Form</mat-label>
    <input
      type="text"
      placeholder=""
      aria-label="Drug Form"
      matInput
      formControlName="drugForm"
      id="drugForm"
    />
    <mat-error *ngIf="hasError('drugForm', 'required')"
      >DrugForm is required</mat-error
    >
  </mat-form-field>

   -->
  <mat-form-field class="medication-full-width">
    <mat-label>Dosage</mat-label>
    <textarea
      placeholder=""
      aria-label="dosge"
      matInput
      formControlName="doage"
      id="dosage"
    ></textarea>
  </mat-form-field>
</form>
