<h3 style="text-align: left;padding-left: 16px;">Employee Details</h3>
<mat-tab-group style="text-align: left">
  <mat-tab label="Add Employee">
    <app-add-employee></app-add-employee>
  </mat-tab>
  <mat-tab label="Edit Employee">
    <mat-card-content style="align-content: center; margin-left: 2vw">
      <table
        class="table table-striped"
        style="
          border-spacing: 1vw;
          word-wrap: normal;
          padding: 1vw;
          text-align: left;
        "
      >
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Title</th>
            <th>Employee Name</th>
            <th>Date Of Birth</th>
            <th>Email ID</th>
            <th>Role</th>
            <th>Date Of Joining</th>
            <th>Edit Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employee">
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.dob | date: "shortDate" }}</td>
            <td>{{ item.emailId }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.joining | date: "shortDate" }}</td>
            <td>
              <button mat-icon-button color="white" (click)="openDialog()">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <mat-paginator
        [length]="4"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
      <br />
    </mat-card-content>
  </mat-tab>
</mat-tab-group>
