<h3>Settings</h3>

<mat-tab-group>
  <mat-tab label="Edit Account Details">
      <mat-radio-group>
        <mat-radio-button value="Mr">Mr</mat-radio-button>
        <mat-radio-button value="Mrs">Mrs</mat-radio-button>
        <mat-radio-button value="Ms">Ms</mat-radio-button>
      </mat-radio-group>
      &nbsp; &nbsp;
      <mat-form-field appearance="legacy">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" />
      </mat-form-field>
      &nbsp; &nbsp;
      <mat-form-field appearance="legacy">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" />
      </mat-form-field>
      &nbsp; &nbsp;
      <mat-form-field>
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker> </mat-datepicker>
      </mat-form-field>
      <br />
     
      <mat-form-field  appearance="legacy">
        <mat-label>Address Line 1</mat-label>
        <input matInput placeholder="Address Line 1" />
      </mat-form-field>
      &nbsp; &nbsp;
      <mat-form-field appearance="legacy">
        <mat-label>Address Line 2(optional)</mat-label>
        <input matInput placeholder="Address Line 2(Optional)" />
      </mat-form-field>
      &nbsp; &nbsp;
      <mat-form-field appearance="legacy">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" />
      </mat-form-field>&nbsp; &nbsp;
      <mat-form-field appearance="legacy">
        <mat-label>Email ID</mat-label>
        <input matInput placeholder="Email ID" />
      </mat-form-field>
      <mat-dialog-actions align="end">
        <button mat-flat-button type="submit" class="button-submit">
          Submit
        </button>
        <button mat-flat-button type="reset" class="button-reset">Cancel</button>
      </mat-dialog-actions>
    
  </mat-tab>


  <mat-tab label="Change Password " >
    <app-change-password></app-change-password>
  </mat-tab>
</mat-tab-group>
