<h3>Settings</h3>

<mat-tab-group>
  <mat-tab label="Edit Account Details">
    <br />
    <form class="my-form" [formGroup]="editForm">
      &nbsp; &nbsp;
      <mat-form-field appearance="legacy">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First Name"
          formControlName="firstName"
          value="{{ xFirstName }}"
        />
      </mat-form-field>
      &nbsp; &nbsp;
      <mat-form-field appearance="legacy">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last Name"
          formControlName="lastName"
          value="{{ xLastName }}"
        />
      </mat-form-field>
      &nbsp; &nbsp;

      <mat-form-field appearance="legacy">
        <mat-label>Email Id</mat-label>
        <input
          matInput
          placeholder="Email Id"
          formControlName="email"
          value="{{ xEmail }}"
        /> </mat-form-field
      >&nbsp; &nbsp;

      <mat-form-field appearance="legacy">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          placeholder="Phone Number"
          formControlName="phone"
          value="{{ xphone }}"
        />
      </mat-form-field>
      <br />
      <mat-dialog-actions align="end">
        <button mat-flat-button type="submit" class="button-submit" (click)="onSave()">
          Submit
        </button>
        <button mat-flat-button mat-dialog-close class="button-reset">
          Cancel
        </button>
      </mat-dialog-actions>
      <br />
    </form>
  </mat-tab>

  <mat-tab label="Change Password ">
    <app-change-password></app-change-password>
  </mat-tab>
</mat-tab-group>
