mat-form-field {
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 2px;
  width: 170px;
}

.mat-card {
  text-align: left;
  box-sizing: content-box;
}

.emergencycontact {
  font-size: 14px;
  margin-left: 1px;
}
mat-radio-button {
  margin: 0 8px 0;
}

div {
  float: right;
}

.button-submit {
  background-color: #6944f6;
  margin: 0 8px 0;
}

mat-checkbox {
  margin: 0 1px 0;
}

.button-reset {
  background-color: #ffad1f;
  margin: 0 1px 0;
}
