<mat-tab-group style="text-align: left">
    <mat-tab label="Add Medication">
      <mat-form-field appearance="legacy">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" />
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;
      <mat-checkbox class="mat-checkbox">Is Fatal</mat-checkbox>
      <br />
      <mat-dialog-actions align="end">
        <button mat-flat-button type="submit" class="button-submit">
          Submit
        </button>
        <button mat-flat-button type="reset" class="button-reset">Cancel</button>
      </mat-dialog-actions>
    </mat-tab>
    <mat-tab label="Edit Medication">
      <mat-form-field appearance="legacy">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" />
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;
      <mat-checkbox class="mat-checkbox">Is Fatal</mat-checkbox>
      <br />
      <mat-dialog-actions align="end">
        <button mat-flat-button type="submit" class="button-submit">
          Submit
        </button>
        <button mat-flat-button type="reset" class="button-reset">Cancel</button>
      </mat-dialog-actions>
    </mat-tab>
  </mat-tab-group>
  