.button-submit {
  background-color: #6944f6;
  margin-right: 10px;
  margin-left: 5px;
  text-align: right;
}

.button-reset {
  background-color: #ffad1f;
  margin-right: 10px;
  text-align: right;
}
.btn {
  background-color: rgba(26, 23, 23, 0.226);
  border:groove;
  color: white;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
}
